<div class="container-fluid container-fluid-custom">
<h1>About</h1>
<p class="fs-4, mb-4">
    This is a simple note-taking app for a university project made with Node.js, Express, MongoDB & Passport. For templating it uses EJS and Bootstrap.
</p>
</div>